<!DOCTYPE html>
<html ng-app="PlayerApp">
<head>
    <script src="~/Scripts/angular.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <link rel="stylesheet" href="Custom.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body ng-controller="PlayerController"> 
    <div class="register">
    <h1 style="text-align:center">Customs Registration</h1>
    <form ng-submit="sendPlayerInfo()" >
        <div
            <label for="username">Username: </label><br />
            <input class="text-center" name="Player.Username" type="text" id="Username" ng-model="Player.Username" pattern="[a-zA-Z{1,}]" required /> <br />
            <span ng-show="myForm.$submitted || myForm.name.$dirty">
                <span style="color:rgb(236, 9, 9);font-weight:bold" class="error" ng-show="myForm.name.$error.pattern"><i class="fa fa-exclamation-circle"></i>Cannot be Empty</span>
                    </span><br><br>


            <label for="discordTag">DiscordTag</label><br />
                <input name="Player.discordTag" type="text" id="discordName" ng-model="Player.DiscordTag" /> <br />
           
                <label for="TeamName">Team Name</label><br />
                <input type="text" id="Teaminfo" ng-model="Player.TeamName" pattern="[a-zA-Z{1,}]" required /> <br />
                <span ng-show="myForm.$submitted || myForm.name.$dirty">
                    <span style="color:rgb(236, 9, 9);font-weight:bold" class="error" ng-show="myForm.name.$error.pattern"><i class="fa fa-exclamation-circle"></i>Cannot have numbers</span>
                        </span><br><br>

                <label for="IGLName">IGL Name</label><br />
                <input type="text" id="IGLinfo" ng-model="Player.IGLName" pattern="[a-zA-Z{1,}]" required /> <br />
                <span ng-show="myForm.$submitted || myForm.name.$dirty">
                    <span style="color:rgb(236, 9, 9);font-weight:bold" class="error" ng-show="myForm.name.$error.pattern"><i class="fa fa-exclamation-circle"></i>Cannot have numbers</span>
                        </span><br><br>

                <label for="Date of Custom" >Date for Custom</label><br />
                <input type="date" id="doc" ng-model="Player.date" /> <br /><br />

                <label for="PhoneNumber">Phone Number</label><br />
                <input type="number" name="Player.number" id="number" ng-model="Player.number" ng-minlength="0" ng-maxlength="10" required /> <br />
                <span ng-show="myForm.$submitted || myForm.phone.$dirty">
                    <span style="color:rgb(236, 9, 9);font-weight:bold" class="error" ng-show="myForm.phone.$error.required"><i class="fa fa-exclamation-circle"></i>Phone number required</span>
                    <span class="error" ng-show="((myForm.phone.$error.minlength || myForm.phone.$error.maxlength) && myForm.phone.$dirty)"></span>


                </span>
               
                
                <label for="customTime" >Time for Custom</label><br />
                <input type="time" name="Player.CustomTime" id="doc" ng-model="Player.CustomTime" /> <br /><br />



                

       
        <input type="submit" value="Submit" />
        <input type="reset" ng-click="resetForm()" value="Reset" />
    </div>
    </form>
    <script>
        
        var PlayerApp = angular.module('PlayerApp', []);

        
        PlayerApp.controller("PlayerController", function ($scope, $http) {
  
          
            $scope.originalPlayer = {
                Username: 'Zerco',
                TeamInfo: 'Vibrant eSports',
                info: 'Bond',
                discordName: 'Twisty#9837',
                IGLinfo: 'Twisty',
                doc: new Date('01/31/2022'),
                number: '98198290',
                
            };

            
            $scope.Player = angular.copy($scope.originalPlayer);

            
            $scope.sendPlayerInfo = function () {

                var onSuccess = function (data, status, headers, config) {
                    alert('Player saved successfully.');
                };

                var onError = function (data, status, headers, config) {
                    alert('Error occured.');
                }

                $http.post('/Player/submitData', { Player:$scope.Player })
                    .success(onSuccess)
                    .error(onError);

            };

          
            $scope.resetForm = function () {
                $scope.Player = angular.copy($scope.OriginalPlayer);
            };
    });
    </script>    
</body>
</html>